<section class="xs-pt-125px xs-pb-125px parallax-background" style="background: url('https://s3.amazonaws.com/exosphere/home/img/m12.jpg') center/cover no-repeat">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-xs-12">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-xs-12">
						<h2 class="color-white uppercase text-center">
							Join our community
						</h2>
						<p class="text-center color-white xs-mt-30px xs-mb-60px">
							Whether you’re ready for a major change or looking to accelerate the ones you’ve already made, the Exosphere community is comprised of people who want you to thrive.
						</p>
						<center>
							<a href="" class="btn btn-default text-center">
								Apply now
							</a>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>