/* line 3, ../../app/styles/card.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../app/styles/card.scss */
.card_container {
  overflow: hidden;
}

/* line 9, ../../app/styles/card.scss */
.card {
  overflow: hidden;
  min-width: 336px;
  min-height: 280px;
  width: 336px;
  font-family: "Open Sans";
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, background-color 0.3s;
}

/* line 24, ../../app/styles/card.scss */
.card:hover {
  background-color: white;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
}

/* line 29, ../../app/styles/card.scss */
.card_body {
  position: relative;
  padding: 10px 20px 20px 20px;
  margin-bottom: 30px;
}

/* line 35, ../../app/styles/card.scss */
.card_list_category {
  position: absolute;
  top: -25px;
  left: 0px;
  height: 25px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 0;
  margin: 0;
}

/* line 50, ../../app/styles/card.scss */
.card_category {
  display: inline;
  height: 25px;
  line-height: 25px;
  padding: 3px 10px 3px 10px;
  opacity: 0.8;
  transition: opacity 0.3s;
}
/* line 57, ../../app/styles/card.scss */
.card_category a {
  color: inherit;
  text-decoration: none;
}

/* line 63, ../../app/styles/card.scss */
.card:hover .card_category {
  opacity: 1.0;
}

/* line 66, ../../app/styles/card.scss */
.angularjs {
  background-color: red;
}

/* line 71, ../../app/styles/card.scss */
.mean-stack {
  background-color: #7ed321;
}

/* line 76, ../../app/styles/card.scss */
.meteor {
  background-color: #e02904;
}

/* line 80, ../../app/styles/card.scss */
.ionic {
  background-color: #61bbff;
}

/* line 84, ../../app/styles/card.scss */
.laravel-5 {
  background-color: #F4655F;
}

/* line 88, ../../app/styles/card.scss */
.laravel {
  background-color: #F4655F;
}

/* line 92, ../../app/styles/card.scss */
.projects {
  background-color: #ff9218;
}

/* line 95, ../../app/styles/card.scss */
.lounge {
  background-color: #ff61f7;
}

/* line 98, ../../app/styles/card.scss */
.tutorial {
  background-color: #b61fff;
}

/* line 102, ../../app/styles/card.scss */
.last {
  border-radius: 0 5px 0 0;
}

/* line 108, ../../app/styles/card.scss */
.card_thumb {
  position: relative;
  width: 100%;
  background-color: black;
  height: 125px;
  overflow: hidden;
}
/* line 114, ../../app/styles/card.scss */
.card_thumb img {
  display: block;
  opacity: 1;
  transform: none;
  transition: opacity 0.3s, transform 0.3s;
}
/* line 122, ../../app/styles/card.scss */
.card:hover .card_thumb img {
  opacity: 0.6;
  transform: scale(1.2);
}

/* line 127, ../../app/styles/card.scss */
.card_favorite {
  position: absolute;
  bottom: 100%;
  width: 100%;
  background-color: black;
  line-height: 35px;
  transition: transform 0.3s;
  z-index: 1;
  color: white;
  text-align: center;
  opacity: 0.7;
}
/* line 138, ../../app/styles/card.scss */
.card_favorite a {
  color: inherit;
  text-decoration: none;
}

/* line 144, ../../app/styles/card.scss */
.card:hover .card_favorite {
  transform: translate3d(0, 35px, 0);
}

/* line 149, ../../app/styles/card.scss */
.card:hover .card_thumb img {
  opacity: 0.5;
}

/* line 153, ../../app/styles/card.scss */
.card_title {
  font-family: "Open Sans";
}
/* line 155, ../../app/styles/card.scss */
.card_title h2 {
  padding-top: 0px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 0px;
  opacity: 0.8;
  transition: opacity 0.3s;
}
/* line 166, ../../app/styles/card.scss */
.card_title a {
  color: inherit;
  text-decoration: none;
}

/* line 172, ../../app/styles/card.scss */
.card:hover .card_title h2 {
  opacity: 1;
}

/* line 177, ../../app/styles/card.scss */
.card_footer {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  line-height: 25px;
  color: #9a9a9a;
  display: inline;
  padding-left: 20px;
  padding-bottom: 30px;
}

/* line 188, ../../app/styles/card.scss */
.foot-comment {
  display: inline;
}

/* line 192, ../../app/styles/card.scss */
.foot-time {
  display: inline;
  padding-left: 30px;
}
/*# sourceMappingURL=card.css.map */