<section id="home">
	<div class="hero-header home-header hidden-xs hidden-sm">
		<div class="swiper-container" id="swiper-home">
			<div class="swiper-wrapper">
				<div class="swiper-slide" ng-repeat="item in swiper.items" ng-init="$last ? swiper_home_init() : null">
					<div class="container">
						<div class="parallax-bg" style="background-image:url({{item.image}})" data-swiper-parallax="-5%"></div>
						<div class="row">
							<div class="xs-pb-30px xs-pt-30px md-pt-60px md-pb-60px col-md-6 col-xs-12">

								<div class="title uppercase color-white" ng-if="item.title" data-swiper-parallax="-200" ng-class="{'just-title' : !item.subtitle}">
									<span class="underline-yellow">
										{{item.title}}
									</span>
									<h5 class="subtitle color-white uppercase" data-swiper-parallax="-250" ng-if="item.subtitle" ng-bind-html="item.subtitle"></h5>
								</div>

								<div class="text" data-swiper-parallax="-400">
									<p ng-bind-html="item.text">
			                        </p>
			                        <br><br>
			                        <ul class='list-styled' ng-if="item.list">
			                            <li ng-repeat="item in item.list" ng-bind-html="item"></li>
			                        </ul>
								</div>

								<!-- <h1 ng-if="item.title" data-swiper-parallax="-200">
									<span class="underline-yellow color-white">
										<b>
											{{item.title}}
										</b>
									</span>
								</h1>
								<h5 data-swiper-parallax="-300" ng-if="item.subtitle" ng-bind-html="item.subtitle"></h5>
								<div class="text" data-swiper-parallax="-400">
									<p ng-bind-html="item.text">
			                        </p>
			                        <br><br>
			                        <ul class='list-styled' ng-if="item.list">
			                            <li ng-repeat="item in item.list" ng-bind-html="item"></li>
			                        </ul>
								</div> -->

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-buttons">
				<div class="container">
					<a href="" ng-click="applynow()" class="btn btn-white">
						Apply now
					</a>
					<a href="" ng-click="learnmore()" class="btn btn-default btn-inline color-white" style="margin-left: 30px;">
						Learn more
					</a>
				</div>
			</div>
			<div class="swiper-pagination swiper-pagination-white"></div>
		</div>

		<div class="fixed-badges">
			<div class="badge-rounded">
				<div class="badge-content">
					<timer end-time="endTime">
						<div class="clock">
							<div class="clock-item">
								<h2 class="color-white">
									{{days | digits}}
								</h2>
								<p>
									days
								</p>
							</div>
							<div class="clock-item">
								<h2 class="color-white">
									{{hours | digits}}
								</h2>
								<p>
									hours
								</p>
							</div>
							<div class="clock-item">
								<h2 class="color-white">
									{{minutes | digits}}
								</h2>
								<p>
									min
								</p>
							</div>
						</div>
					</timer>
					<p class="text-right" style="font-size: 14px;">
						Buy your spot
						<span class="color-yellow">before December 15 2017</span>
						<br>
						for the early bird benefits package
					</p>
				</div>
				<a ng-click="applynow()" class="badge-button">
					<img src="images/early-apply.png" alt="">
				</a>
			</div>
			<div class="badge-rounded">
				<div class="badge-content">
					<h4 class="color-white" style="margin-top: 10px;">
						Share with your friends and join the community
					</h4>
				</div>
				<a ng-click="share()" class="badge-button">
					<img src="images/share.png" alt="">
				</a>
			</div>
		</div>

		<div class="sub-home-header" ng-include="'views/pages/home/choose-city.html'">
		</div>
	</div>
	<div class="mobile-header home-header visible-xs visible-sm">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
					<h1 class="title color-white">
						Disturb the universe
					</h1>
					<p class="uppercase subtitle color-yellow">
						Join our 11th
						<br>
						6-week program
						<br>
						in 1 of 6 countries
					</p>
				</div>
				<div class="xs-mt-30px col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 text-center">
					<div class="panel panel-black text-center">
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-12">
									<timer end-time="endTime">
										<div class="clock">
											<div class="clock-item">
												<h2 class="color-white">
													{{days | digits}}
												</h2>
												<p>
													days
												</p>
											</div>
											<div class="clock-item">
												<h2 class="color-white">
													{{hours | digits}}
												</h2>
												<p>
													hours
												</p>
											</div>
											<div class="clock-item">
												<h2 class="color-white">
													{{minutes | digits}}
												</h2>
												<p>
													min
												</p>
											</div>
										</div>
									</timer>
								</div>
								<div class="col-xs-12">
									<p class="color-white">
										Buy your spot <b class="color-yellow">before January 15 2018</b> for the early bird benefits package
									</p>
								</div>
							</div>
						</div>
					</div>
					<a href="" ng-click="applynow()" class="btn btn-white xs-mt-45px xs-mb-45px">Apply now</a>
				</div>
			</div>
		</div>
		<div class="sub-mobile-header">
			<div class="divisor-selector" ng-repeat="item in choose_city.items">
				<div class="divisor" ng-repeat="city in item.items">
					<h4 class="color-white">
						{{city.name}}
					</h4>
					<p class="color-yellow">
						{{city.date}}
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<button class="btn btn-go-top" ng-click="goTop()" ng-class="{'active' : pixelsScrolled > 1920}"></button>

<div id="learnmore" ng-repeat="item in sections" ng-switch="item.type">

	<section class="exosphere-block" ng-switch-when="quote">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
					<p ng-class="{'quote-text' : item.quote}">
						{{item.title}}
					</p>
					<p class="color-yellow">
						{{item.subtitle}}
					</p>
				</div>
			</div>
		</div>
	</section>
			
	<section class="parallax-background" ng-switch-when="parallax" style="background: url({{item.image}}) center/cover no-repeat;">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-xs-12" ng-class="{'float-right' : item.side == 'right'}">
							<div class="content">
								<h1 class="color-white" ng-class="{'just-title' : !item.subtitle}" ng-bind-html="item.title"></h1>
								<h4 class="color-yellow uppercase">
									<span class="underline" ng-bind-html="item.subtitle"></span>
								</h4>
								<div class="text">
									<p ng-bind-html="item.text"></p>
			                        <ul class='list-styled' ng-if="item.list">
			                            <li ng-repeat="item in item.list" ng-bind-html="item"></li>
			                        </ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="xs-pt-0px xs-pb-0px md-pt-90px md-pb-90px parallax-background" ng-switch-when="infrograph" style="background: url({{item.image}}) center/cover no-repeat;">
		<!-- <img ng-if="item.image" ng-src="{{item.image}}" alt="" width="100%" class="parallax-image"> -->
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-xs-12">
					<div class="panel md-p-60px xs-p-0px xs-pt-30px xs-pb-30px">
						<div class="row">
							<div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
								<h2 class="color-black uppercase text-center" ng-if="item.title" ng-bind-html='item.title'></h2>
								<h4 class="text-center color-yellow uppercase" ng-if="item.subtitle" ng-bind-html='item.subtitle'></h4>
								<p class="text-center color-black-light xs-mt-50px xs-mb-60px" ng-if="item.text" ng-bind-html='item.text'></p>
							</div>
						</div>
						<img ng-if="item.infograph" ng-src="{{item.infograph}}" alt="" width="100%">
						<div class="row" ng-if="item.button">
							<div class="col-xs-12">
								<center>
									<a ng-href="{{item.button.href}}" class="btn btn-default text-center xs-mt-60px xs-mb-30px">
										{{item.button.title}}
									</a>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div ng-switch-when="include">
		<ng-include src="item.src"></ng-include>
	</div>

</div>

<footer ng-include="'includes/footer.html'"></footer>