<section class="xs-pt-90px xs-pb-90px parallax-background" ng-switch-when="infrograph">
	<img src="views" alt="views/pages/program/img/m6.jpg" width="100%" class="parallax-image">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-xs-12">
				<div class="panel xs-p-60px">
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-xs-12">
							<h2 class="color-black uppercase text-center">
								Core curriculum
							</h2>
							<h4 class="text-center color-yellow uppercase">
								Lorem ipsum and more if needed
							</h4>
							<p class="text-center color-black-light xs-mt-50px xs-mb-60px">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<center>
								<a ng-href="#!/applynow" class="btn btn-default text-center xs-mt-60px xs-mb-30px">
									Apply now
								</a>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>