<div class="xs-pt-60px xs-pb-60px" >
	<span class="copyright">
		&#169; 2017 Exosphere
	</span>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-xs-12 text-center color-white">
				<h4 class="color-yellow uppercase">
					Exosphere
				</h4>
				<p>
					Exosphere is a learning and problem-solving community helping people create more meaningful lives for themselves and working to improve the world around them.
				</p>
				<br>
				<h4 class="color-yellow uppercase">
					Subscribe
				</h4>
				<p>
					Subscribe to receive actionable strategies and tools to start improving your life.
				</p>
				<form action="" class="xs-p-60px" ng-init="subscribe">
					<div class="form-group form-group-white xs-mb-30px">
						<div class="input-group">
								<span class="input-group-addon">
								Email address
								</span>
							<input type="email" name="subscribe-email" ng-model="subscribe.email" class="form-control">
						</div>	
					</div>
					<div class="form-group form-group-white xs-mt-15px">
						<div class="input-group">
								<span class="input-group-addon">
								First name
								</span>
							<input type="text" name="subscribe-first-name" ng-model="subscribe.name" class="form-control">
						</div>
					</div>
					<div class="form-group xs-mt-30px">
						<center>
							<a href="" class="btn btn-default text-center">
								Subscribe
							</a>
						</center>
					</div>
				</form>
				<div class="social-media-links">
					<a href="">
						<img src="images/social-icons/facebook.png" alt="" onmouseover="this.src='images/social-icons/facebook-fill.png'"  onmouseout="this.src='images/social-icons/facebook.png'">
					</a>
					<a href="">
						<img src="images/social-icons/instagram.png" alt="" onmouseover="this.src='images/social-icons/instagram-fill.png'"  onmouseout="this.src='images/social-icons/instagram.png'">
					</a>
					<a href="">
						<img src="images/social-icons/twitter.png" alt="" onmouseover="this.src='images/social-icons/twitter-fill.png'"  onmouseout="this.src='images/social-icons/twitter.png'">
					</a>
					<a href="">
						<img src="images/social-icons/youtube.png" alt="" onmouseover="this.src='images/social-icons/youtube-fill.png'"  onmouseout="this.src='images/social-icons/youtube.png'">
					</a>
					<a href="">
						<img src="images/social-icons/medium.png" alt="" onmouseover="this.src='images/social-icons/medium-fill.png'"  onmouseout="this.src='images/social-icons/medium.png'">
					</a>
					<a href="">
						<img src="images/social-icons/mail.png" alt="" onmouseover="this.src='images/social-icons/mail-fill.png'"  onmouseout="this.src='images/social-icons/mail.png'">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>